### Django ###
*.log
*.pot
*.pyc
*.sqlite3
migrations/
__pycache__/
__init__.py
asgi.py
wsgi.py
local_settings.py
manage.py

### SECRET KEY ###
secret_key.txt

### SECRET KEY ###
email_conf.txt

### IDEs ###
.git/
.idea/

### static ###
vendor/