### Django ###
*.log
*.pot
*.pyc
__pycache__/
__init__.py
asgi.py
wsgi.py
local_settings.py
db.sqlite3
db.sqlite3-journal
manage.py
migrations/

### SECRET KEY ###
secret_key.txt

### IDEs ###
.git/
.idea/