{% extends "layout_card.html" %}

{% block main %}
    <div class="card-header">
        <h5 class="card-title">{% block title %}{{ title }}{% endblock %}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {% for date in date_list %}
                <a class="btn btn-lg btn-secondary m-3" style="width: 5em"
                   href="{% url 'energy:register_year' date|date:'Y' %}">
                    {{ date|date:'Y' }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}