{% load static %}

<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Control Energía">
    <meta name="author" content="Julio César González Tamayo">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    {% block css %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{% static 'energy/img/favicon.png' %} "/>
    <title>{% block title %}Energy{% endblock %} | Energía</title>
</head>
<body>
{% block content %}{% endblock %}

{% block js %}{% endblock %}
<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
